<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <!--Moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <title>Calendar in Vuejs</title>
</head>
<body>
    
    <div id="app" class="container">

        <h1>{{ heading }}</h1>

        <div class="month">
            <div>
                <a v-on:click="lastMonth" class="prev">&#10094</a>
                <a @click="nextMonth" class="next">&#10095</a>
                <p>
                    {{ month }} {{ year }}
                </p>
            </div>
        </div>

        <ul class="weekdays">
            <!-- <li>Su</li><li>Mo</li><li>Tu</li><li>We</li><li>Th</li><li>Fr</li><li>Sa</li> -->
            
            <li v-for="day in days" >{{ day }}</li>

        </ul>

        <ul class="days">

            <li v-for="empty in firstDayOfMonth"></li>
            <li v-for="date in daysInMonth" @click="openday(date)" 
            :class="{'today': date == initialDate && month == initialMonth && year == initialYear}">
            
            <span>{{ date }}</span>

        </li>

        </ul>
        
    </div>        

    
<script src="main.js"></script>

</body>
</html>