*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "viga", "salsa", "sniglet";
    font-size:1.5em;
    color: rgb(73, 59, 59);
}

.container{
    width:70%;
    margin:auto;
}

.container h1{
    text-align:center;
}

ul{
    list-style-type:none;
}

.month{
    padding: 70px 25px;
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align:center;
}

.month ul{
    margin:0;
    padding:0;
}

.month ul li {
    /* color:#17201C; */
    color:white;
    font-size:1em;
    text-transform: uppercase;
    letter-spacing:3px;
}

.month .prev{
    float: left;
    padding-top: 10px;
}

.month .next{
    float:right;
    padding-top:10px;
}










